<div class="task-form">
  <form class="custom-form" (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">
    <button [routerLink]="['./home']" class="back-button">Back</button>
    <h2>{{editMode ? 'Edit task' : 'New task'}}</h2>
    <div class="custom-form-group mar-top-40">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" class="custom-input" [ngClass]="{'custom-input-invalid': !controls.name.valid && controls.name.touched}">
    </div>

    <div class="custom-form-group mar-top-40">
      <label for="description">Description</label>
      <input type="description" id="description" formControlName="description" class="custom-input" [ngClass]="{'custom-input-invalid': !controls.description.valid && controls.description.touched}">
    </div>

    <div class="custom-form-group mar-top-40">
      <label>Expiration</label>
      <div class="custom-datepicker">
        <input formControlName="date" matInput [matDatepicker]="picker" class="custom-input" [ngClass]="{'custom-input-invalid': !controls.date.valid && controls.date.touched}">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>

    </div>

    <div class="button-container mar-top-40">
      <button type="submit" class="button-primary">{{editMode ? 'Edit' : 'Create'}}</button>
      <button type="button" [routerLink]="['./home']" class="button-secondary">Cancel</button>
    </div>


  </form>
</div>
