
.snack {
  background-color: #fff;
}

.snackbar-error {
  background-color: #E96479;
  color: #fff;
}

.snackbar-error .mat-button-wrapper {
  color: #fff;
}

.snackbar-success {
  background-color: #7DB9B6;
  color: #fff;
}

.snackbar-success .mat-button-wrapper {
  color: #fff;
}
