.custom-table {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 40px;
  background-color: #fff;
}

.custom-table .mat-table {
  width: 100% !important;
  overflow-y: hidden !important;
  overflow-x: scroll;
}



th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding: 0 !important;
}

.custom-table .mat-elevation-z8 {
  box-shadow: none;
}

.expirated .mat-cell {
  color: #EDEDED;
}

@media screen and (max-width: 600px) {
  .custom-table .mat-table {

    display: block;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }
}
