@import url('./app/shared/styles/table.scss');
@import url('./app/shared/styles/snackbar.scss');
@import url('./app/shared/styles/icons.scss');
@import url('./app/shared/styles/buttons.scss');



html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.d-flex {
  display: flex;
}
